@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans&family=Roboto+Mono&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans&family=Poppins:wght@400;500&family=Roboto+Mono&display=swap');

/* reset */
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
--primary-text-color:#183b56;
--secondary-text-color:#577592;
--accent-color:#2294ed;
--accent-color-dark:#1d69a3;
--padding-inline-section:20px
}


body{
    font-family: 'poppins', sans-serif;
    color: var(--primary-text-color);

}

h1{
    font-size: 3rem;
}

h2{font-size: 2rem;
}

h3{font-size: 1.5rem;

}

p
{
    
font-family: 'Roboto', sans-serif;
font-size: 1.25rem;
color: var(--secondary-text-color);
line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{list-style: none;}







/* utility classes */

.small-bold-text{font-size: 1rem;
font-weight: 500;}

.container{
    max-width:1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}

.flex{
    display: flex;
    align-items: center;
}

.hover-links{
    color: var(--primary-text-color);

}

.hover-links:hover{color: var(--accent-color);}

.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 500;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;

}

.primary-button:hover{background-color: var(--accent-color-dark);}

.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 500;
    color: var(--primary-text-color);
    padding: 12px 24px;
    transition: 0.2s ease-out;
}

.secondary-button:hover{

    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}






/* top-banner */

.top-banner{
    background-color: #E74694;
    background-size: 300px;
    background-image: url('./images/asset\ 32.png');
    

}

.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
}







/* nav */

.main-nav{
    justify-content: space-between;
    margin-top: 20px;
}


.company-logo img {
    width: 200px;
}

.nav-links{
    flex-basis: 730px;
}

.nav-links ul{

    justify-content: end;
    gap: 40px;
    transition: 0.2s ease-out;
}



/* header section */

.header{
    padding: 50px var(--padding-inline-section);


}

.header-section{
    justify-content: center;
    gap: 50px;

}

.header-left{
    max-width: 40vw;
}

.header-left h1{
    margin-top: 20px;
}

.get-started-btn{
    margin-top: 20px;
}

.header-right img{
    width: 600px;
    margin-top: 55px;
}

/* companies section */

 
.companies-header{
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);

}

.logos{
    justify-content: space-between;
    flex-wrap: wrap;
}  

.logo{
    height: 46px;
    
}

/* features section */


.features-section{padding: 80px var(--padding-inline-section);
    background-image: url(./images/asset\ 34.svg);
    background-repeat: no-repeat;
    background-position: center;

}

.features-header{
    text-align: center;
}

.features-text{margin-bottom: 10px;
margin-top: 50px;
}

.features-area{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-top: 40px;
}
.features-card{
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
}

/* .big-feature-section */

.big-feature-section{
    padding: 30px var(--padding-inline-section) 0;
}

.big-features-container{
    gap: 30px;
}

.feature-img img{
    width: 100%;
    
}

.features-description-flex{
    flex-direction: column;
    align-items: flex-start;
}

.features-description-flex img{
 width: 130px;
 margin-top: 15px;
}

.quama-flex img{
    width: 60px;
    flex-direction: column;
    margin-left: -30px;
}

.quama-text{
    margin-top: -38px;
    font-weight: 500px;
}

.short-img img{
    width: 50px;
    
}   

.short-img-text h4{
 font-size: 18px;
 font-weight: 500;
 padding: 0 0 0 11px;
 margin-bottom: -5px;
 margin-top: 20px;
 
}

.short-img-text p{
    font-size: 15px;
    padding: 0 0 0 11px;

}


/* example section */

.example-card{
    width: 23%;
    position: relative;
    min-height: 300px;
    background: black;
    background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)),url(./images/asset\ 36.jpeg);
    background-size: cover;
    transition: 0.2 ease-out;
}   

.example-area {
    margin-top: 30px;
    margin-top: 30px;
    gap: 30px;
}

.example-card:hover{
    box-shadow: 0 0 10px #888;
}


.example-card:nth-child(2){
    background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)),url(./images/asset\ 37.jpeg);
     background-size: cover;
}

.example-card:nth-child(3){
    background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)),url(./images/asset\ 38.jpeg);
     background-size: cover;
}

.example-card:nth-child(4){
    background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)),url(./images/asset\ 39.jpeg);
     background-size: cover;
}

.card-text{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px ;
    color: white;


}

/* cta section */
.list-item {gap: 40px;
    

}

.cta-section{
    background-color: #183b54;
}

.big-features-container-cta{
    margin-top: 140px;
    color: white;
    
    
}


.cta-h2{
    margin-bottom: 13px;
    margin-top: 0px;
    
}

.cta-p{
    margin-bottom: 19px;
    color:#b9cde4;
}

.cta-lt{
    margin-top: 10px;
}

.get-started-btn-cta{
    margin-top: 55px;
}

ul{
    list-style:circle;
    margin-left: 12px;
    color: #b9cde4;
    font-size: 15px;
}


/* cta small */

.cta-small{
    gap: 50px;
    flex-direction: column;
    margin-top: 120px;
    
}

.cta-p2{margin-bottom: -20px;
color: var(--secondary-text-color);}



/* footer */

footer{
    padding-block: 80px;
    background-color: #ebf2fa;
    margin-top: 90px;
}

.link-coloumn{
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    
}


.footer-container{
    align-items: flex-start;
    justify-content: space-between;
}




/* sub footer */

.sub-footer{
    background-color: #b9cde4;
    padding: var(--padding-inline-section);
}

.subfooter-container{
    justify-content: center;
    gap: 30px;
}



























